@font-face {
  font-family: "Neue Haas Display";
  src: url("asset/font/NeueHaasDisplay-Black.woff2") format("woff2"),
    url("asset/font/NeueHaasDisplay-Black.woff") format("woff");
}

/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Neue Haas Display", sans-serif;
}

a {
  color: #000;
  cursor: pointer;
}

section {
  padding: 0 30px;
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

h1,
h2 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

hr {
  width: 100%;
}

input {
  border: 0.5px black solid;
  border-radius: 10px;
}

/* NAVBAR  */
.navbar {
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  text-align: right;
  font-size: 17px;
}

.navbar-left a {
  font-weight: bold;
  font-size: 30px;
}

.navbar-right a {
  margin: 10px;
  font-weight: bold;
}

/* HOME */
.fullscreen-image {
  background: url("https://www.pexels.com/photo/3737599/download/?search_query=beauty%20products&tracking_id=8o2zbghxxlk");
  background-size: cover;
  height: 85vh;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.home-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.products a,
.price {
  font-weight: bold;
}

.product-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.img-product {
  object-fit: contain;
  border-radius: 8px;
  height: 400px;
}

/* FICHE PRODUIT */
.all-product-page {
  display: flex;
  flex-direction: column;
}

.img-product-container {
  height: 100%;
  width: 400px;
  object-fit: cover;
  justify-content: center;
}

.add-to-cart input {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.product-caption h3 {
  margin-top: 10px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.quantity {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

/* LOGIN,INSCRIPTION & PROFIL*/
.container {
  background-color: rgb(228, 228, 228);
  border-radius: 8px;
  margin-bottom: 20px;
  width: 90%;
}

.login-registration {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.selection {
  margin-bottom: 15px;
}

.button-registration {
  width: 100%;
  display: flex;
  justify-content: center;
}

.check {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.rights {
  margin: 5px;
}

input[type="checkbox"] {
  margin: 5px;
}

/* PANIER  */
.basket {
  text-align: center;
}

.img-basket img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.basket-quantity {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.basket-quantity a {
  color: grey;
  text-decoration: underline;
}

.basket img {
  height: 300px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.box {
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 15px;
}

.basket-input {
  background-color: black;
  color: white;
  height: 50px;
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
}

/* FOOTER  */
footer li,
ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  bottom: 0;
  padding: 30px 0 40px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.newsletter input {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 5px;
  text-align: center;
  justify-content: center;
  font-size: 13px;
}

/* RESPONSIVE  */
@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  /* LOGIN, INSCRIPTION & PROFIL */
  .container {
    width: 65%;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .colonne {
    width: 100%;
    align-content: space-between;
    margin: 10px;
  }

  .footer-left {
    display: flex;
    flex-direction: row;
  }

  .footer-right {
    display: flex;
    flex-direction: row;
  }

  .colonne h5,
  li {
    text-align: left;
  }

  footer li {
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {
  /* HOME */
  .fullscreen-image {
    background: url("https://www.pexels.com/photo/3737594/download/?search_query=beauty%20products&tracking_id=8o2zbghxxlk");
    background-size: cover;
    height: 90vh;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 75%;
  }

  /*LOGIN ET INSCRIPTION*/
  .container {
    width: 50%;
  }

  /* PAGE PRODUIT */
  .product-img {
    margin-bottom: 50px;
  }

  .product-caption {
    margin: 5%;
  }

  .img-product-container {
    display: flex;
    justify-content: center;
  }

  .img-product-container img {
    height: 100%;
    width: 70%;
    object-fit: contain;
    align-items: center;
  }

  .all-product-page {
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

  .quantity {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }

  /* PANIER */
  .basket {
    width: 50%;
  }

  .subtotal {
    width: 50%;
  }

  .basket img {
    height: 400px;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .colonne {
    width: 100%;
    align-content: space-between;
    margin: 10px;
  }

  .footer-left {
    display: flex;
    flex-direction: row;
  }

  .footer-right {
    display: flex;
    flex-direction: row;
  }
}
