* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /*width: fit-content;*/
}

a {
  color: #000;
}

section {
  padding: 0 30px;
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

/*************************************NAV**********************************/

.navbar-right {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.navbar-right a {
  margin: 20px;
}

.navbar-left a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

/*********************************** HOME ***********************************/

/* Hero full image */

.fullscreen-image {
  background: url("https://www.pexels.com/photo/3737599/download/?search_query=beauty%20products&tracking_id=8o2zbghxxlk");
  background-size: cover;
  height: 85vh;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

/* Produits */
.home-product article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.home-product h2 {
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.home-product p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-product img {
  height: 400px;
  /* width: 100%; */
  object-fit: contain;
}

.product-descrption {
  display: flex;
}

/*************FICHE PRODUIT****************/

.algae-soap img,
.algae-soap-2 img,
.algae-soap-3 img {
  height: 100%;
  width: 90%;
  object-fit: contain;
}

.add-to-cart {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

/**************************************PROFIL ***********************************/

.profil h6 {
  margin: 20px;
}

.profil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.deconnexion p {
  width: 100%;
  margin: -10px;
  text-align: right;
}

/*********************************** INSCRIPTION  ****************************/

.container {
  background-color: rgb(228, 228, 228);
  border-radius: 8px;
  margin-bottom: 20px;
}

input {
  border: 0.5px black solid;
  border-radius: 10px;
}

/**************************************** PANIER ******************************/

.basket {
  text-align: center;
}

.box {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

.login-registration {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.submit {
  margin-top: 50px;
}

.img-panier img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.basket-content,
.basket-quantity {
  display: flex;
}
.basket-quantity {
  width: 80%;
  margin-top: 2%;
  justify-content: space-between;
}

.basket-content img {
  height: 50px;
  width: 36px;
  object-fit: contain;
}

.subtotal {
  background-color: lightgrey;
  /*border-radius: 10px;*/
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-4 {
  width: 50%;
}

.total-basket {
  font-weight: 700;
}

.basket-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.basket-input {
  margin-top: 5%;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.delete-input {
  background: 0 0;
  border: 0;
  color: #818181;
  cursor: pointer;
  padding: 0;
  line-height: inherit;
  margin-left: -22.5%;
  margin-top: 2%;
}

/*************************************FOOTER*********************************/

.mainfooter,
li,
ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  bottom: 0;
  padding: 30px 0 40px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.newsletter input {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  text-align: center;
  justify-content: center;
}

.social-media h5 {
  text-align: center;
  margin: 5px;
}

/********************************* RESPONSIVE  ****************************/

@media screen and (max-width: 1199px) /**720**/ {
  /*****Page d'accueil*******/
  .home-product {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }

  .home-product article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 33%; */
  }

  /*****PANIER*******/

  .basket {
    width: 50%;
  }
  .subtotal {
    /*border-radius: 10px;*/
    width: 50%;
  }

  /*****PROFIL*******/
  .profil h6 {
    margin: 20px;
  }

  .profil {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  /****Page d'accueil*****/
  .home-product {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 80%;
  }

  .fullscreen-image {
    background: url("https://www.pexels.com/photo/3737594/download/?search_query=beauty%20products&tracking_id=8o2zbghxxlk");
    background-size: cover;
    height: 90vh;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }

  .home-product article {
    width: 33%;
  }

  /*****Page produit*****/
  .all-product-page {
    display: flex;
  }
  .product-description {
    display: column;
    margin-top: 0;
  }

  /********PANIER**************/
  .basket {
    width: 50%;
  }
  .subtotal {
    /*border-radius: 10px;*/
    width: 50%;
  }

  /******FOOTER*******/
  .mainfooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .colonne {
    width: 100%;
    align-content: space-between;
    margin: 10px;
  }

  .footer-left {
    display: flex;
    flex-direction: row;
  }

  .footer-right {
    display: flex;
    flex-direction: row;
  }

  .colonne h5,
  li {
    text-align: left;
  }

  footer li {
    font-size: 15px;
  }

  .div-newsletter-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: 50%;
  }

  .social-networks {
    width: 30%;
    margin-inline: auto;
  }

  .social-networks-svg {
    height: 100px;
    width: 100px;
  }

  .copyright {
    margin-inline-start: auto;
  }

  .copyright p {
    font-size: 10px;
  }
}
